html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    opacity: 0.95;
    text-align: center;
}

.bg-theme {
    color: white;
}

.bg-theme h1 {
    text-transform: uppercase;
}